.category__alert--success {
    border-color: #c2efdb;
    background-color: #b9d8ca;
    color: #0f5132;

    padding: 10px 30px;
}

.category__alert--danger {
    border-color: #d18b92;
    background-color: #ebd2d4;
    color: #aa222d;

    padding: 10px 0;
}

.category__alert--danger ul {
    margin: 0;
}

.category__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.create-form {
    display: flex;
    text-align: center;
    justify-content: space-between;

    margin: 0 auto;
    width: 70%;
}

.create-form__item {
    width: 70%;
}

.create-form__item-input {
    border: 1px solid #ddd;
    border-radius: 3px;

    padding: 10px;
    width: 100%;
    height: 40px;
}

.create-form__button {
    width: 20%;
}

.create-form__button-submit {
    background: #000;
    color: #fff;

    border: none;
    border-radius: 3px;

    padding: 10px;
    width: 100%;
    height: 40px;

    cursor: pointer;
}

.category-table {
    margin: 30px auto;
    width: 70%;

    text-align: center;
}

.category-table__inner {
    width: 100%;
}

.category-table__row {
    border-bottom: 1px solid #ddd;
}

.category-table__header {
    padding: 12px;
    width: 20%;

    text-align: left;
    font-weight: bold;
}

.category-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 80%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;

    outline: none;
    border: none;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    background: #0000ff;
    color: #fff;

    border: none;
    border-radius: 3px;

    cursor: pointer;

    padding: 5px;
    width: 100%;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    background: #ff0000;
    color: #fff;

    border: none;
    border-radius: 3px;

    cursor: pointer;

    padding: 5px;
    width: 100%;
}