.header{
    background: black;
}

.header__inner{
    margin: 0 auto;
    padding: 20px 50px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    color: white;
    
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}