.todo__notice--OK{
    background-color: #9eebc7;
    color: #048f4f;

    padding: 1px 20px;
}

.todo__notice--NG{
    background-color: rgb(248, 100, 100);
    color: rgb(193, 1, 1);

    padding: 1px 20px;
}

.todo__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 100%;
    height: auto;
}

.section__title {
    margin: 0 auto;
    width: 70%;
}

.form,
.search-form{
    margin: 0 auto;
    width: 70%;
    margin-bottom: 15px;

    display: flex;
    text-align: center;
    justify-content: space-between;
}

.form__item{
    padding: 10px;
    width: 70%;
    height: 50px;
    margin-right: 10px;

    border: none;
    border-radius: 5px;

    display: flex;
}

.search-form__item,
.search-form__item-input{
    padding: 10px;
    width: 70%;
    height: 50px;
    margin-right: 10px;
    
    border: 1px solid rgb(208, 207, 207);
    border-radius: 5px;

    display: flex;
}

.create-form__item-select,
.search-form__item-select {
    padding: 10px;
    width: 30%;
    height: 40px;

    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__item-text{
    width: 70%;

    outline: none;
}

.form__button,
.search-form__button{
    width: 20%;
}

.form__button-send,
.search-form__button-submit{
    background: black;
    color: white;

    padding: 10px 0px;
    width: 60%;
    height: 50px;
    border-radius: 5px;

    border: none;
}

.table{
    margin: 20px auto;
    width: 70%;

    text-align: left;
}

.todo-table__header-span {
    margin-right: 40%;
}

.table__inner{
    width: 100%;
}

.table__row{
    border-bottom: 1px solid rgb(208, 207, 207);
}

.tabel__title{
    padding: 10px;
    width: 20%;

    font-weight: bold;
}

.table__item{
    padding: 10px;
    width: 40%;
}

.update{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__item-text{
    padding: 10px;
    width: 100%;
    height: 10px;


    border: none;
    outline:none;
}

.update-form__item-p {
    text-align: left;
    font-size: 13px;
}

.update__button{
    width: 50px;
}

.update__button-send{
    background: blue;
    color: white;

    width: 100%;
    padding: 5px;

    border: none;
    border-radius: 5px;
}

.delete__button{
    width: 50px;
}

.delete__button-send{
    background: red;
    color: white;
    
    width: 100%;
    padding: 5px;
    
    border: none;
    border-radius: 5px;
}